# Курсовая работа

## Источник данных

[Spaceship Titanic](https://www.kaggle.com/competitions/spaceship-titanic/data)

### Dataset Description
In this competition your task is to predict whether a passenger was transported to an alternate dimension during the Spaceship Titanic's collision with the spacetime anomaly. To help you make these predictions, you're given a set of personal records recovered from the ship's damaged computer system.

### File and Data Field Descriptions

* **train.csv** - Personal records for about two-thirds (~8700) of the passengers, to be used as training data.

- PassengerId - A unique Id for each passenger. Each Id takes the form gggg_pp where gggg indicates a group the passenger is travelling with and pp is their number within the group. People in a group are often family members, but not always.
- HomePlanet - The planet the passenger departed from, typically their planet of permanent residence.
- CryoSleep - Indicates whether the passenger elected to be put into suspended animation for the duration of the voyage. Passengers in cryosleep are confined to their cabins.
- Cabin - The cabin number where the passenger is staying. Takes the form deck/num/side, where side can be either P for Port or S for Starboard.
- Destination - The planet the passenger will be debarking to.
- Age - The age of the passenger.
- VIP - Whether the passenger has paid for special VIP service during the voyage.
- RoomService, FoodCourt, ShoppingMall, Spa, VRDeck - Amount the passenger has billed at each of the Spaceship Titanic's many luxury amenities.
- Name - The first and last names of the passenger.
- Transported - Whether the passenger was transported to another dimension. This is the target, the column you are trying to predict.

* **test.csv** - Personal records for the remaining one-third (~4300) of the passengers, to be used as test data. Your task is to predict the value of Transported for the passengers in this set.

* **sample_submission.csv** - A submission file in the correct format.

- PassengerId - Id for each passenger in the test set.
- Transported - The target. For each passenger, predict either True or False.

## Exploratory Data Analysis

### Columns modification

- PassengerId - (???) split into two part: group number and number in group 

- HomePlanet - code with dummy, NaN - оставляем как есть

- CryoSleep - change to 0/1

- Cabin - split into three part: Deck Num Side

- Destination - code with dummy, NaN - оставляем как есть

- Age - OK, NaN заменим на (-999)

- VIP - change to 0/1, NaN - заменяем на 0

- RoomService - OK, NaN - заменяем на 0

- FoodCourt - OK, NaN - заменяем на 0

- ShoppingMall - OK, NaN - заменяем на 0

- Spa - OK, NaN - заменяем на 0

- VRDeck - OK

- Name - remove

- Transported - bool - OK

In [208]:
import pandas as pd
data = pd.read_csv('train.csv', index_col=0)
data.head(100)

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
PassengerId,,,,,,,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0103_01,Earth,False,F/24/S,TRAPPIST-1e,24.0,False,0.0,NaN,0.0,0.0,17.0,Arlen Mclainez,True
0103_02,Earth,True,G/18/S,55 Cancri e,9.0,False,0.0,0.0,0.0,0.0,0.0,Shaele Mclainez,True
0103_03,Earth,True,G/18/S,TRAPPIST-1e,6.0,False,0.0,0.0,0.0,0.0,0.0,Fanne Mclainez,False
0105_01,Earth,NaN,F/21/P,TRAPPIST-1e,27.0,False,0.0,0.0,570.0,2.0,131.0,Carry Cleachrand,False
0107_01,Mars,False,D/2/S,TRAPPIST-1e,21.0,False,1743.0,5.0,17.0,0.0,0.0,Coobix Hart,False

In [209]:
data.describe(include='all')

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
count,8492,8476,8494,8511,8514.000000,8490,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000,8493,8693
unique,3,2,6560,3,NaN,2,NaN,NaN,NaN,NaN,NaN,8473,2
top,Earth,False,G/734/S,TRAPPIST-1e,NaN,False,NaN,NaN,NaN,NaN,NaN,Glena Hahnstonsen,True
freq,4602,5439,8,5915,NaN,8291,NaN,NaN,NaN,NaN,NaN,2,4378
mean,NaN,NaN,NaN,NaN,28.827930,NaN,224.687617,458.077203,173.729169,311.138778,304.854791,NaN,NaN
std,NaN,NaN,NaN,NaN,14.489021,NaN,666.717663,1611.489240,604.696458,1136.705535,1145.717189,NaN,NaN
min,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,19.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,27.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,38.000000,NaN,47.000000,76.000000,27.000000,59.000000,46.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,79.000000,NaN,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000,NaN,NaN

In [210]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8693 entries, 0001_01 to 9280_02
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8492 non-null   object
 1   CryoSleep     8476 non-null   object
 2   Cabin         8494 non-null   object
 3   Destination   8511 non-null   object
 4   Age           8514 non-null   float64
 5   VIP           8490 non-null   object
 6   RoomService   8512 non-null   float64
 7   FoodCourt     8510 non-null   float64
 8   ShoppingMall  8485 non-null   float64
 9   Spa           8510 non-null   float64
 10  VRDeck        8505 non-null   float64
 11  Name          8493 non-null   object
 12  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(6)
memory usage: 891.4+ KB

In [211]:
 data.isna().sum()

HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

### Модификация

In [212]:
# HomePlanet - code with dummy, NaN - left as it is
data = pd.get_dummies(data, columns=['HomePlanet'], prefix_sep='=', dummy_na=True)

# CryoSleep - change to 0/1, NaN - replace with False
#with pd.set_option("future.no_silent_downcasting", True):
pd.set_option('future.no_silent_downcasting', True)
data.loc[:, 'CryoSleep'] = data.CryoSleep.replace({False: 0, True: 1})
data.loc[:, 'CryoSleep'] = data.CryoSleep.fillna(False)

# Cabin - split into three part: Deck Num Side
data_cabin=data['Cabin'].str.split('/', n=2, expand=True).rename(columns={0: "Deck", 1: "Num", 2: "Side" })
data=data.join(data_cabin,how='left')
# Deck - code with dummy
data = pd.get_dummies(data, columns=['Deck', 'Side'], prefix_sep='=', drop_first=True,dummy_na=True)

# Destination - code with dummy, NaN - left as it is
data = pd.get_dummies(data, columns=['Destination'], prefix_sep='=')

#Age - OK, NaN replace with (-999)
data.loc[:, 'Age'] = data.Age.fillna(-999)

# VIP - change to 0/1, NaN - replace with False
#with pd.set_option("future.no_silent_downcasting", True):
data.loc[:, 'VIP'] = data.VIP.infer_objects(copy=False).fillna(False)
data.loc[:, 'VIP'] = data.VIP.replace({False: 0, True: 1})

# RoomService - OK, NaN - replace with 0
# FoodCourt - OK, NaN - replace with 0
# ShoppingMall - OK, NaN - replace with 0
# Spa - OK, NaN - replace with 0
# VRDeck - OK
data.loc[:, 'RoomService'] = data.RoomService.fillna(0)
data.loc[:, 'FoodCourt'] = data.FoodCourt.fillna(0)
data.loc[:, 'ShoppingMall'] = data.ShoppingMall.fillna(0)
data.loc[:, 'Spa'] = data.Spa.fillna(0)
data.loc[:, 'VRDeck'] = data.VRDeck.fillna(0)


data[["CryoSleep", "VIP"]] = data[["CryoSleep", "VIP"]].apply(pd.to_numeric)

# Drop column
# Name  - unique field
# Num  - 1817 unique values, so it's almost unique field
data = data.drop('Name', axis=1).drop('Num', axis=1).drop('Cabin', axis=1)

In [213]:
data.describe(include='all')

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet=Earth,...,Deck=E,Deck=F,Deck=G,Deck=T,Deck=nan,Side=S,Side=nan,Destination=55 Cancri e,Destination=PSO J318.5-22,Destination=TRAPPIST-1e
count,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693,8693,...,8693,8693,8693,8693,8693,8693,8693,8693,8693,8693
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,...,2,2,2,2,2,2,2,2,2,2
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,True,...,False,False,False,False,False,False,False,False,False,True
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4378,4602,...,7817,5899,6134,8688,8494,4405,8494,6893,7897,5915
mean,0.349362,7.663637,0.022892,220.009318,448.434027,169.572300,304.588865,298.261820,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.476796,146.674414,0.149568,660.519050,1595.790627,598.007164,1125.562559,1134.126417,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,-999.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.000000,37.000000,0.000000,41.000000,61.000000,22.000000,53.000000,40.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.000000,79.000000,1.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [214]:
 data.isna().sum()

CryoSleep                    0
Age                          0
VIP                          0
RoomService                  0
FoodCourt                    0
ShoppingMall                 0
Spa                          0
VRDeck                       0
Transported                  0
HomePlanet=Earth             0
HomePlanet=Europa            0
HomePlanet=Mars              0
HomePlanet=nan               0
Deck=B                       0
Deck=C                       0
Deck=D                       0
Deck=E                       0
Deck=F                       0
Deck=G                       0
Deck=T                       0
Deck=nan                     0
Side=S                       0
Side=nan                     0
Destination=55 Cancri e      0
Destination=PSO J318.5-22    0
Destination=TRAPPIST-1e      0
dtype: int64